@import 'reset.css';

body {
	font: 12px/1.5 Calibri,Arial,sans-serif;
	background: #666;
	}

a {
	color: #5f3d80;
	}
a:hover {
	color: white;
	background: #666;
	text-decoration: none;
	}

.hidden {
	display: none;
	}

#header {
	display: none;
	}

#main {
	position: relative; z-index: 1;
	width: 1000px;
	height: 1030px;
	margin: 0 auto;
	background: #ededed url('bkgr2.png') no-repeat center;
	}

#cv {
	position: absolute; top: 240px; left: 40px;
	width: 180px;
	text-align: right;
	color: white;
	}

#pf {
	position: absolute; top: 820px; left: 50px;
	width: 260px;
	font-size: 15px;
	text-align: right;
	}

#rv {
	position: absolute; top: 850px; left: 405px;
	width: 350px;
	font-size: 12px;
	}

#cont {
	position: absolute; top: 640px; left: 430px;
	width: 250px;
	}
